<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Về chúng tôi</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <div class="rectangle"></div>
                <div class="rectangle2"></div>
                <a href="" class="header-icon">
                    <div class="icon">
                        <img src="./assets/image/logo/logosmall.png" alt="">
                    </div>
                </a>
                <nav class="header-nav">
                    <ul id="menu">
                        <li class="parent fz16 fw6"><a href="">Về IEC Language</a></li>
                        <li class="parent fz16 fw6">
                            <img src="./assets/image/svg/Star 1.svg" alt=""><a href="">Chương trình học</a><i
                                class='bx bxs-chevron-down'></i>
                            <ul class="child">
                                <li><a href="">Tiếng Đức</a></li>
                                <li><a href="">Tiếng Anh</a></li>
                                <li><a href="">Tiếng Pháp</a></li>
                            </ul>
                        </li>
                        <li class="parent fz16 fw6"><a href="">Dịch vụ khác</a></li>
                        <li class="parent fz16 fw6"><a href="">Câu hỏi thường gặp</a></li>
                        <li class="parent fz16 fw6">
                            <a href="">Tin tức & thư viện</a><i class='bx bxs-chevron-down'></i>
                            <ul class="child">
                                <li><a href="">Tiếng Đức</a></li>
                                <li><a href="">Tiếng Anh</a></li>
                                <li><a href="">Tiếng Pháp</a></li>
                            </ul>
                        </li>
                        <li class="parent fz16 fw6"><a href="">Tuyển dụng</a></li>
                    </ul>
                </nav>
                <a href="" class="btn btn-login"><i class='bx bx-user'></i><span class="fz16 fw6">Đăng nhập</span></a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="about">
            <div class="banner">
                <div class="banner-over">
                    <div class="banner-shape"></div>
                    <div class="banner-shape"></div>
                    <div class="banner-shape"></div>
                </div>
                <div class="banner-img">
                    <div class="banner-img-line">
                        <div class="banner-img-item">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="banner-img-line">
                        <div class="banner-img-item">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="banner-img-line">
                        <div class="banner-img-item">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <div class="bg">

                </div>
                <div class="banner-wrap">
                    <div class="container">
                        <div class="banner-slogan">
                            <h1>Về IEC Language</h1>
                            <h1>Sáng tạo không ngừng</h1>
                            <h4>
                                IEC Academy nổi bật là đơn vị tiên phong, đưa xu hướng học trực tuyến với giáo viên và
                                lộ
                                trình chuẩn Quốc tế để mang lại khóa học chất lượng cao dành cho học viên không chỉ tại
                                Việt
                                Nam mà còn đang sinh sống và làm việc tại nước ngoài.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-adv">
                <div class="container">
                    <div class="about-adv-wrap">
                        <div class="about-adv-left">
                            <h2 class="about-adv-title">
                                <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                                <div class="title-text">
                                    Mô hình đào tạo tại IEC mang đến sự khác biệt
                                </div>
                            </h2>
                            <p class="desc">
                                Tại IEC, chúng tôi luôn cập nhật
                                cải tiến, nâng cao chất lượng hàng tuần, để học viên được tiếp cận những chương trình
                                học và phương pháp hiệu quả nhất.
                            </p>
                        </div>
                        <div class="about-adv-right">
                            <div class="about-adv-right-item">
                                <img class="item-left" src="./assets/image/svg/dollar.svg" alt="">
                                <div class="item-right">
                                    <div class="item-right-box">
                                        <span>46,25%</span>
                                        <img src="./assets/image/svg/greenarrow.svg" alt="">
                                    </div>
                                    <h3>Học phí trung bình</h3>
                                </div>
                            </div>
                            <div class="about-adv-right-item">
                                <img class="item-left" src="./assets/image/svg/hat.svg" alt="">
                                <div class="item-right">
                                    <div class="item-right-box">
                                        <span>70,5%</span>
                                        <img src="./assets/image/svg/greenarrow.svg" alt="">
                                    </div>
                                    <h3>Chất lượng đầu ra</h3>
                                </div>
                            </div>
                            <div class="about-adv-right-item">
                                <img class="item-left" src="./assets/image/svg/time.svg" alt="">
                                <div class="item-right">
                                    <div class="item-right-box">
                                        <span>65,25%</span>
                                        <img src="./assets/image/svg/greenarrow.svg" alt="">
                                    </div>
                                    <h3>Thời gian học linh hoạt</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="onlyImage">
                <img src="./assets/image/banner/imgskhct.jfif" alt="">
            </div>
            <div class="about-aim">
                <div class="container">
                    <div class="about-aim-wrap">
                        <div class="about-aim-item">
                            <div class="item-left">
                                <img src="./assets/image/svg/aim1.svg" alt="">
                            </div>
                            <div class="item-right">
                                <h1>Tầm nhìn</h1>
                                <p>
                                    Với chiến lược đón đầu các xu thế học tập mới trên thế giới, tại IEC Language chúng
                                    tôi luôn hướng tới việc phát triển giáo dục, để trở thành đơn vị hàng đầu trong lĩnh
                                    vực giảng dạy trực tuyến ở Việt Nam. Mang đến những trải nghiệm trên cả mong đợi cho
                                    những khách hàng của mình
                                </p>
                            </div>
                        </div>
                        <div class="about-aim-item">
                            <div class="item-left">
                                <img src="./assets/image/svg/aim2.svg" alt="">
                            </div>
                            <div class="item-right">
                                <h1>Sứ mệnh</h1>
                                <p>
                                    Tập trung thay đổi cách học ngôn ngữ truyền thống bằng phương pháp học hiện đại, áp
                                    dụng những công nghệ mới vào giảng dạy. Từ đó việc học trở nên dễ dàng hơn, thuận
                                    tiện hơn bất kỳ cách học nào khác mà bạn có thể nghĩ tới. Đầu tư phát triển ở những
                                    nơi mà giáo dục chưa thực sự được chú trọng, như các vùng quê nghèo, vùng sâu vùng
                                    xa, những con em chưa có điều kiện để tới các trung tâm giảng dạy ngoại ngữ, nhằm
                                    hướng tới sứ mệnh: “Vì tương lai của thế hệ mới - Vì một Việt Nam vươn tầm thế
                                    giới”.
                                </p>
                            </div>
                        </div>
                        <div class="about-aim-item">
                            <div class="item-left">
                                <img src="./assets/image/svg/aim3.svg" alt="">
                            </div>
                            <div class="item-right">
                                <h1>Con người</h1>
                                <p>
                                    Hết mình vì khách hàng - mang lại những trải nghiệm tuyệt vời trong suốt quá trình
                                    theo học
                                </p>
                            </div>
                        </div>
                        <div class="about-aim-item">
                            <div class="item-left">
                                <img src="./assets/image/svg/aim4.svg" alt="">
                            </div>
                            <div class="item-right">
                                <h1>Giá trị cốt lõi</h1>
                                <p>
                                    Học tập
                                    Thay thế cách học truyền thống bằng việc học trực tuyến 1-1, rút ngắn thời gian đạt
                                    mục tiêu xuống mức tối đa.
                                </p>
                            </div>
                        </div>
                        <div class="about-aim-item">
                            <div class="item-left">
                                <img src="./assets/image/svg/aim5.svg" alt="">
                            </div>
                            <div class="item-right">
                                <h1>Tôn chỉ làm việc</h1>
                                <p>
                                    Tỉ mỉ, tận tình, không lý do, không tư lợi hướng tới điều tốt nhất cho khách hàng và
                                    nhân viên
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="bg-over"></div>
            <img src="./assets/image/banner/forenger.jfif" alt="" class="bg">

            <div class="container">
                <div class="contact-wrap">
                    <div class="contact-left">
                        <h2 class="contact-title">
                            <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                            <div class="title-text">
                                Khai giảng lớp học mới
                            </div>
                            <span></span>
                        </h2>
                        <p>
                            IEC mang lại khoá học chất lượng cao dành cho học viên không chỉ tại Việt Nam mà còn đang
                            sinh sống và làm việc tại nước ngoài
                        </p>
                        <a href="" class="btn btn-login">Tìm hiểu thêm<img src="./assets/image/svg/arrow.svg"
                                alt=""></a>
                    </div>
                </div>
            </div>
            <div class="contact-date">
                <div class="contact-date-item">
                    <div class="number">02</div>
                    <div class="text">Ngày</div>
                </div>
                <div class="contact-date-item">
                    <div class="number">01</div>
                    <div class="text">Giờ</div>
                </div>
                <div class="contact-date-item">
                    <div class="number">05</div>
                    <div class="text">Phút</div>
                </div>
                <div class="contact-date-item">
                    <div class="number">59</div>
                    <div class="text">Giây</div>
                </div>
            </div>
            <div class="contact-form">
                <div class="contact-form-info">
                    <h2 class="form-title">
                        <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                        <div class="title-text">
                            Đăng ký nhận
                            tư vấn miễn phí
                        </div>
                        <span></span>
                    </h2>
                    <p>
                        Hãy nhập các thông tin của bạn ở phần form bên dưới và gửi lại cho chúng tôi nhé. Chúng tôi sẽ
                        gửi cho bạn những thông tin mới nhất
                    </p>
                    <form action="">
                        <div class="form-wrap">
                            <div class="inputBox">
                                <input type="text" required="required">
                                <span>Họ và tên</span>
                            </div>
                            <div class="inputBox">
                                <input type="number" required="required">
                                <span>Số điện thoại</span>
                            </div>
                            <div class="inputBox inputBoxjss">
                                <input type="email" required="required">
                                <span>Email</span>
                            </div>
                            <div class="inputBox inputBoxjs">
                                <textarea name="" id="" cols="30" rows="10" required="required"></textarea>
                                <span>Nội dung</span>
                            </div>
                            <button href="" class="btn btn-login">Đăng ký ngay<img src="./assets/image/svg/arrow.svg"
                                    alt=""></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-sqr">
                    <img src="./assets/image/svg/linefooter.png" alt="" class="line">
                    <img src="./assets/image/logo/logosmallfooter.svg" alt="">
                </div>
                <div class="footer-menu">
                    <ul>
                        <li class="head">Liên hệ</li>
                        <li>
                            <p>Trụ sở chính:</p>
                            <h3>
                                Tầng 29A, Hồ Gươm Plaza, P.Mộ Lao, Q.Hà Đông, Tp.Hà Nội
                            </h3>
                        </li>
                        <li>
                            <p>Chi nhành miền nam:</p>
                            <h3>
                                Số 227 Hà Huy Giáp, P.Thạnh Lộc, Quận 12, Tp.Hồ Chí Minh
                            </h3>
                        </li>
                        <li><a href=""><span>Hotline:</span>024 6662 8671</a></li>
                        <li><a href=""><span>Email tuyển sinh:</span>tuyensinh@ieclanguage.edu.vn</a></li>
                        <li><a href=""><span>Email tuyển dụng:</span>hr@ieclanguage.edu.vn</a></li>
                    </ul>
                    <ul>
                        <li class="head">Chương trình học</li>
                        <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Anh</a></li>
                        <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Pháp</a></li>
                        <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Đức</a></li>
                    </ul>
                    <ul>
                        <li class="head"> Kết nối với chúng tôi</li>
                        <div class="footer-socials">
                            <a href=""><i class='bx bxl-facebook'></i></a>
                            <a href=""><i class='bx bxl-youtube'></i></a>
                            <a href=""><i class='bx bxl-twitter'></i></a>
                            <a href=""><i class='bx bxl-instagram'></i></a>
                        </div>
                    </ul>
                    <div class="footer-pluginfb">
                        <img src="./assets/image/fb.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-cre">
            <h3>Designed and developed by Mona Media</h3>
        </div>
    </footer>
    <script src="./js/libs/jquery/jquery.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>