<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Home</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <div class="rectangle"></div>
                <div class="rectangle2"></div>
                <a href="" class="header-icon">
                    <div class="icon">
                        <img src="./assets/image/logo/logosmall.png" alt="">
                    </div>
                </a>
                <nav class="header-nav">
                    <ul id="menu">
                        <li class="parent fz16 fw6"><a href="">Về IEC Language</a></li>
                        <li class="parent fz16 fw6">
                            <img src="./assets/image/svg/Star 1.svg" alt=""><a href="">Chương trình học</a>
                            <i class='bx bxs-chevron-down'></i>
                            <ul class="child">
                                <li><a href="">Tiếng Đức</a></li>
                                <li><a href="">Tiếng Anh</a></li>
                                <li><a href="">Tiếng Pháp</a></li>
                            </ul>
                        </li>
                        <li class="parent fz16 fw6"><a href="">Dịch vụ khác</a></li>
                        <li class="parent fz16 fw6"><a href="">Câu hỏi thường gặp</a></li>
                        <li class="parent fz16 fw6">
                            <a href="">Tin tức & thư viện</a><i class='bx bxs-chevron-down'></i>
                            <ul class="child">
                                <li><a href="">Tiếng Đức</a></li>
                                <li><a href="">Tiếng Anh</a></li>
                                <li><a href="">Tiếng Pháp</a></li>
                            </ul>
                        </li>
                        <li class="parent fz16 fw6"><a href="">Tuyển dụng</a></li>
                    </ul>
                </nav>
                <a href="" class="btn btn-login"><i class='bx bx-user'></i><span class="fz16 fw6">Đăng nhập</span></a>
                <div class="burger burger-js">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </div>
                <div class="menu-mobile mobilemenu-js">
                    <div class="menu-mobile-wrap">
                        <div class="wrap">
                            <main>
                                <section id="vert-nav">
                                    <nav role='navigation'>
                                        <ul class="topmenu">
                                            <li><a class="sidebarhead" href="#0">Home</a></li>
                                            <li><a class="sidebarhead" href="#0">Về IEC Language</a></li>
                                            <li><a class="sidebarhead" href="#0">Chương trình học</a></a>
                                                <ul class="submenu">
                                                    <li><a href="#0">Tiếng Đức</a></li>
                                                    <li><a href="#0">Tiếng Anh</a></li>
                                                    <li><a href="#0">Tiếng Pháp</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="sidebarhead" href="#0">Dịch vụ khác</a></li>
                                            <li><a class="sidebarhead" href="#0">Câu hỏi thường gặp</a></li>
                                            <li><a class="sidebarhead" href="#0">Tin tức và thư viện</a>
                                                <ul class="submenu">
                                                    <li><a href="#0">Tiếng Đức</a>
                                                        <ul class="submenu">
                                                            <li><a href="#0">Tiếng Đức</a></li>
                                                            <li><a href="#0">Tiếng Anh</a></li>
                                                            <li><a href="#0">Tiếng Pháp</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#0">Tiếng Anh</a></li>
                                                    <li><a href="#0">Tiếng Pháp</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="sidebarhead" href="#0">Tuyển dụng</a></li>
                                        </ul>
                                    </nav>
                                </section>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="menu-mobile-over mobilemenuover-js"></div>
    <div class="main">
        <div class="home-banner">
            <div class="banner-over">
                <div class="banner-shape"></div>
                <div class="banner-shape"></div>
                <div class="banner-shape"></div>
            </div>
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="home-banner-wrap">
                                <div class="home-banner-tag">
                                    <a class="btn btn-language fz16 fw6">Tiếng Đức</a>
                                    <p class="banner-text fz16 fw6 ">Lorem ipsum dolor sit amet</p>
                                </div>
                                <h1 class="home-banner-title">
                                    Kết quả của bạn
                                </h1>
                                <h1 class="home-banner-title">
                                    là thành công của chúng tôi
                                </h1>
                                <p class="home-banner-text fz16 fw4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A in proin purus sed pellentesque turpis mauris. Vitae dui sit viverra donec lacinia et nulla. Ut mattis varius non nam.
                                </p>
                            </div>
                        </div>
                        <img src="./assets/image/banner/Mask group.png" />
                    </div>
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="home-banner-wrap">
                                <div class="home-banner-tag">
                                    <a class="btn btn-language fz16 fw6">Tiếng Đức</a>
                                    <p class="banner-text fz16 fw6 ">Lorem ipsum dolor sit amet</p>
                                </div>
                                <h1 class="home-banner-title">
                                    Kết quả của bạn
                                </h1>
                                <h1 class="home-banner-title">
                                    là thành công của chúng tôi
                                </h1>
                                <p class="home-banner-text fz16 fw4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A in proin purus sed pellentesque turpis mauris. Vitae dui sit viverra donec lacinia et nulla. Ut mattis varius non nam.
                                </p>
                            </div>
                        </div>
                        <img src="./assets/image/banner/Mask group.png" />
                    </div>
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="home-banner-wrap">
                                <div class="home-banner-tag">
                                    <a class="btn btn-language fz16 fw6">Tiếng Đức</a>
                                    <p class="banner-text fz16 fw6 ">Lorem ipsum dolor sit amet</p>
                                </div>
                                <h1 class="home-banner-title">
                                    Kết quả của bạn <br> là thành công của chúng tôi
                                </h1>
                                <p class="home-banner-text fz16 fw4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. A in proin purus sed pellentesque turpis mauris. Vitae dui sit viverra donec lacinia et nulla. Ut mattis varius non nam.
                                </p>
                            </div>
                        </div>
                        <img src="./assets/image/banner/Mask group.png" />
                    </div>

                </div>
                <div thumbsSlider="" id="swiper" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/image/banner/Mask group.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/image/banner/Rectangle 6.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/image/banner/Rectangle 7.png" />
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="home-adv">
            <div class="container">
                <!-- <h2 class="home-adv-title">
                    <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                    <div class="title-text">
                        Mô hình đào tạo tại IEC mang đến sự khác biệt
                    </div>
                    <span></span>
                </h2> -->
                <h2 class="t-title decor line m-nor">
                    Mô hình đào tạo tại IEC mang đến sự khác biệt
                </h2>
                <div class="dnor home-adv-side">
                    <div class="dnor-item home-adv-left">
                        <div class="home-adv-content">
                            <h3 class="home-adv-content-text">
                                Tại IEC, chúng tôi luôn cập nhật cải tiến, nâng cao chất lượng hàng tuần, để học viên được tiếp cận những chương trình học và phương pháp hiệu quả nhất.
                            </h3>
                        </div>
                    </div>
                    <div class="dnor-item home-adv-right">
                        <div class="dnor home-adv-list">
                            <div class="dnor-item home-adv-item">
                                <div class="box">
                                    <img src="./assets/image/svg/dollar.svg" alt="" class="icon">
                                    <span>46,25% <img src="./assets/image/svg/redarrow.svg" alt=""></span>
                                    <p>
                                        học phí so với mặt bằng học offline
                                    </p>
                                </div>
                            </div>
                            <div class="dnor-item home-adv-item">
                                <div class="box">
                                    <img src="./assets/image/svg/hat.svg" alt="" class="icon">
                                    <span>70,5% <img src="./assets/image/svg/greenarrow.svg" alt=""></span>
                                    <p>
                                        Chất lượng đàu ra
                                    </p>
                                </div>
                            </div>
                            <div class="dnor-item home-adv-item">
                                <div class="box">
                                    <img src="./assets/image/svg/time.svg" alt="" class="icon">
                                    <span>65,25% <img src="./assets/image/svg/greenarrow.svg" alt=""></span>
                                    <p>
                                        Thời gian học linh hoạt
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-hit">
            <div class="hit">
                <img src="./assets/image/banner/orange.png" alt="" class="hit-br">
                <div class="at">
                    <div class="container">
                        <div class="dnor at-list">
                            <div class="dnor-item at-item">
                                <div class="at-wrap">
                                    <img src="./assets/image/svg/student.svg" alt="" class="icon">
                                    <p class="number">12,668</p>
                                    <p class="text">học viên theo học</p>
                                </div>
                            </div>
                            <div class="dnor-item at-item">
                                <div class="at-wrap">
                                    <img src="./assets/image/svg/teacher.svg" alt="" class="icon">
                                    <p class="number">365</p>
                                    <p class="text">giáo viên trình độ cao</p>
                                </div>
                            </div>
                            <div class="dnor-item at-item">
                                <div class="at-wrap">
                                    <img src="./assets/image/svg/country.svg" alt="" class="icon">
                                    <p class="number">42</p>
                                    <p class="text">quốc gia trên thế giới</p>
                                </div>
                            </div>
                            <div class="dnor-item at-item">
                                <div class="at-wrap">
                                    <img src="./assets/image/svg/reward.svg" alt="" class="icon">
                                    <p class="number">4</p>
                                    <p class="text">năm đạt trung tâm tốt nhất</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hit-main">
                    <div class="container">
                        <div class="dnor hit-side">
                            <div class="dnor-item hit-left">
                                <div class="hit-content">
                                    <h2 class="t-title decor line m-nor">
                                        <span class="c-white">Hệ thống gia sư trực tuyển</span><span class="c-pri">1 kèm
                                            1</span>
                                    </h2>
                                    <p class="hit-des">
                                        Với chiến lược đón đầu các xu thế học tập mới trên thế giới, tại IEC Language chúng tôi luôn hướng tới việc phát triển giáo dục, để trở thành đơn vị hàng đầu trong lĩnh vực giảng dạy trực tuyến ở Việt Nam ...
                                    </p>
                                    <a href="" class="btn btn-login">Tìm hiểu thêm<img
                                            src="./assets/image/svg/arrow.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="dnor-item hit-right">
                                <a href="" class="hit-play">
                                    <img src="./assets/image/svg/video.svg" alt="" class="icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slider">
            <div class="home-slider-cover">
                <div class="home-slider-wrap">
                    <h2 class="t-title decor line white m-nor">
                        Lĩnh vực giảng dạy
                    </h2>
                    <div class="home-slider-wrap-content">
                        <p class="slider-text">
                            IEC mang lại khoá học chất lượng cao dành cho học viên không chỉ tại Việt Nam mà còn đang sinh sống và làm việc tại nước ngoài
                        </p>
                        <div class="scroll-note">
                            <div class="scroll-note-mouse">
                                <img src="./assets/image/svg/mouseout.svg" alt="">
                                <img src="./assets/image/svg/mouseins.svg" alt="">
                            </div>
                            <div class="scroll-note-box">
                                <img src="./assets/image/svg/arrow2.svg" alt="">
                                <span>Kéo sang để xem</span>
                                <img src="./assets/image/svg/arrow.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-slider-swiper">
                    <div class="swiper sliderSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="" class="home-slider-swiper-item german">
                                    <div class="head">
                                        <img src="./assets/image/svg/logogerman.svg" alt="">
                                        <h3 class="title german">Tiếng Đức</h3>
                                    </div>
                                    <p class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                    </p>
                                    <p>Xem chi tiết</p>
                                    <div class="img">
                                        <img src="./assets/image/img/card1.jfif" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="home-slider-swiper-item english">
                                    <div class="head">
                                        <img src="./assets/image/svg/logoenglish.svg" alt="">
                                        <h3 class="title english">Tiếng Đức</h3>
                                    </div>
                                    <p class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                    </p>
                                    <p>Xem chi tiết</p>
                                    <div class="img">
                                        <img src="./assets/image/img/card1.jfif" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="home-slider-swiper-item french">
                                    <div class="head">
                                        <img src="./assets/image/svg/logofrench.svg" alt="">
                                        <h3 class="title french">Tiếng Đức</h3>
                                    </div>
                                    <p class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                    </p>
                                    <p>Xem chi tiết</p>
                                    <div class="img">
                                        <img src="./assets/image/img/card1.jfif" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="bg-over"></div>
            <img src="./assets/image/banner/forenger.jfif" alt="" class="bg">
            <div class="contact-container">
                <div class="contact-wrap">
                    <div class="contact-left">
                        <h2 class="t-title decor line m-nor">
                            <span class="c-white">Khai giảng lớp học mới</span>
                        </h2>
                        <div class="contact-left-content">
                            <p>
                                IEC mang lại khoá học chất lượng cao dành cho học viên không chỉ tại Việt Nam mà còn đang sinh sống và làm việc tại nước ngoài
                            </p>
                            <a href="" class="btn btn-login">Tìm hiểu thêm<img src="./assets/image/svg/arrow.svg"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="contact-form">
                    <div class="contact-form-info">
                        <h2 class="form-title">
                            <h2 class="t-title decor line m-nor">
                                <span class="c-white">Khai giảng lớp học mới</span>
                            </h2>
                        </h2>
                        <p>
                            Hãy nhập các thông tin của bạn ở phần form bên dưới và gửi lại cho chúng tôi nhé. Chúng tôi sẽ gửi cho bạn những thông tin mới nhất
                        </p>
                        <form action="">
                            <div class="form-wrap">
                                <div class="inputBox">
                                    <input type="text" required="required">
                                    <span>Họ và tên</span>
                                </div>
                                <div class="inputBox">
                                    <input type="number" required="required">
                                    <span>Số điện thoại</span>
                                </div>
                                <div class="inputBox inputBoxjss">
                                    <input type="email" required="required">
                                    <span>Email</span>
                                </div>
                                <div class="inputBox inputBoxjs">
                                    <textarea name="" id="" cols="30" rows="10" required="required"></textarea>
                                    <span>Nội dung</span>
                                </div>
                                <button href="" class="btn btn-login">Đăng ký ngay<img
                                        src="./assets/image/svg/arrow.svg" alt=""></button>
                            </div>
                        </form>
                    </div>
                    <div class="contact-date">
                        <div class="contact-date-item">
                            <div class="number">02</div>
                            <div class="text">Ngày</div>
                        </div>
                        <div class="contact-date-item">
                            <div class="number">01</div>
                            <div class="text">Giờ</div>
                        </div>
                        <div class="contact-date-item">
                            <div class="number">05</div>
                            <div class="text">Phút</div>
                        </div>
                        <div class="contact-date-item">
                            <div class="number">59</div>
                            <div class="text">Giây</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="student-feel">
            <div class="container">
                <div class="student-feel-wrap">
                    <div class="student-feel-top">
                        <h2 class="t-title decor line m-nor">
                            <span>Cảm nhận của học viên</span>
                        </h2>
                        <div class="scroll-note">
                            <div class="scroll-note-mouse">
                                <img src="./assets/image/svg/mouseoutgr.svg" alt="">
                                <img src="./assets/image/svg/mouseinsgr.svg" alt="">
                            </div>
                            <div class="scroll-note-box">
                                <img src="./assets/image/svg/arrowgr.svg" alt="">
                                <span>Kéo sang để xem</span>
                                <img src="./assets/image/svg/arrowgr2.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="student-feel-swiper">
                        <div class="swiper feelSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="feelSwiper-item">
                                        <img src="./assets/image/img/avatar.png" alt="" class="avatar">
                                        <div class="name-box">
                                            <div class="name-box-text">Nguyễn Tuấn Anh</div>
                                            <span class="name-box-dot"></span>
                                            <div class="name-box-status">Học viên</div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue suscipit tellus nisi eu. Fusce enim arcu mollis imperdiet aliquam ultrices mattis egestas. Tempor, id libero enim enim vel vitae sit adipiscing nunc. Vestibulum, auctor
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feelSwiper-item">
                                        <img src="./assets/image/img/avatar2.png" alt="" class="avatar">
                                        <div class="name-box">
                                            <div class="name-box-text">Nguyễn Tuấn Anh</div>
                                            <span class="name-box-dot"></span>
                                            <div class="name-box-status">Học viên</div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue suscipit tellus nisi eu. Fusce enim arcu mollis imperdiet aliquam ultrices mattis egestas. Tempor, id libero enim enim vel vitae sit adipiscing nunc. Vestibulum, auctor
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feelSwiper-item">
                                        <img src="./assets/image/img/avatar3.png" alt="" class="avatar">
                                        <div class="name-box">
                                            <div class="name-box-text">Nguyễn Tuấn Anh</div>
                                            <span class="name-box-dot"></span>
                                            <div class="name-box-status">Học viên</div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue suscipit tellus nisi eu. Fusce enim arcu mollis imperdiet aliquam ultrices mattis egestas. Tempor, id libero enim enim vel vitae sit adipiscing nunc. Vestibulum, auctor
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feelSwiper-item">
                                        <img src="./assets/image/img/avatar4.png" alt="" class="avatar">
                                        <div class="name-box">
                                            <div class="name-box-text">Nguyễn Tuấn Anh</div>
                                            <span class="name-box-dot"></span>
                                            <div class="name-box-status">Học viên</div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue suscipit tellus nisi eu. Fusce enim arcu mollis imperdiet aliquam ultrices mattis egestas. Tempor, id libero enim enim vel vitae sit adipiscing nunc. Vestibulum, auctor
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feelSwiper-item">
                                        <img src="./assets/image/img/avatar4.png" alt="" class="avatar">
                                        <div class="name-box">
                                            <div class="name-box-text">Nguyễn Tuấn Anh</div>
                                            <span class="name-box-dot"></span>
                                            <div class="name-box-status">Học viên</div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue suscipit tellus nisi eu. Fusce enim arcu mollis imperdiet aliquam ultrices mattis egestas. Tempor, id libero enim enim vel vitae sit adipiscing nunc. Vestibulum, auctor
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newSlider">
            <div class="container">
                <div class="newsSlider-wrap">
                    <h2 class="t-title decor line m-nor">
                        <span>Tin tức hoạt động</span>
                    </h2>
                </div>
            </div>
            <div class="swiper newsSlider-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="newsSlider-item">
                            <div class="newsSlider-img">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                            </div>
                            <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                            </p>
                            <p class="xct">Xem chi tiết</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="newsSlider-item">
                            <div class="newsSlider-img">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                            </div>
                            <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                            </p>
                            <p class="xct">Xem chi tiết</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="newsSlider-item">
                            <div class="newsSlider-img">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                            </div>
                            <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                            </p>
                            <p class="xct">Xem chi tiết</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="newsSlider-item">
                            <div class="newsSlider-img">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                            </div>
                            <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                            </p>
                            <p class="xct">Xem chi tiết</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="newsSlider-item">
                            <div class="newsSlider-img">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                            </div>
                            <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                            </p>
                            <p class="xct">Xem chi tiết</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="newsSlider-item">
                            <div class="newsSlider-img">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                            </div>
                            <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                            </p>
                            <p class="xct">Xem chi tiết</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="newsSlider-item">
                            <div class="newsSlider-img">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                            </div>
                            <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                            </p>
                            <p class="xct">Xem chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="newsSlider-scroll">
                    <div class="container">
                        <div class="scroll-wrap">
                            <div class="scroll-note">
                                <div class="scroll-note-mouse">
                                    <img src="./assets/image/svg/mouseoutgr.svg" alt="">
                                    <img src="./assets/image/svg/mouseinsgr.svg" alt="">
                                </div>
                                <div class="scroll-note-box">
                                    <img src="./assets/image/svg/arrowgr.svg" alt="">
                                    <span>Kéo sang để xem</span>
                                    <img src="./assets/image/svg/arrowgr2.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-sqr">
                    <img src="./assets/image/svg/linefooter.png" alt="" class="line">
                    <img src="./assets/image/logo/logosmallfooter.svg" alt="">
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-item footer-menu-item-first">
                        <ul>
                            <li class="head">Liên hệ</li>
                            <li>
                                <p>Trụ sở chính:</p>
                                <h3>
                                    Tầng 29A, Hồ Gươm Plaza, P.Mộ Lao, Q.Hà Đông, Tp.Hà Nội
                                </h3>
                            </li>
                            <li>
                                <p>Chi nhành miền nam:</p>
                                <h3>
                                    Số 227 Hà Huy Giáp, P.Thạnh Lộc, Quận 12, Tp.Hồ Chí Minh
                                </h3>
                            </li>
                            <li><a href=""><span>Hotline:</span>024 6662 8671</a></li>
                            <li><a href=""><span>Email tuyển sinh:</span>tuyensinh@ieclanguage.edu.vn</a></li>
                            <li><a href=""><span>Email tuyển dụng:</span>hr@ieclanguage.edu.vn</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-second">
                        <ul>
                            <li class="head">Chương trình học</li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Anh</a></li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Pháp</a></li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Đức</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-third">
                        <ul>
                            <li class="head"> Kết nối với chúng tôi</li>
                            <div class="footer-socials">
                                <a href=""><i class='bx bxl-facebook'></i></a>
                                <a href=""><i class='bx bxl-youtube'></i></a>
                                <a href=""><i class='bx bxl-twitter'></i></a>
                                <a href=""><i class='bx bxl-instagram'></i></a>
                            </div>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-four">
                        <div class="footer-pluginfb">
                            <img src="./assets/image/fb.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-cre">
            <h3>Designed and developed by Mona Media</h3>
        </div>
    </footer>
    <script src="./js/libs/jquery/jquery.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>