<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Tin tức hoạt động</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <div class="underhead">
                    <img src="./assets/image/svg/underhead.png" alt="">
                </div>
                <a href="" class="header-icon">
                    <div class="icon">
                        <img src="./assets/image/logo/logosmall.png" alt="">
                    </div>
                </a>
                <nav class="header-nav">
                    <ul id="menu">
                        <li class="parent fz16 fw6"><a href="">Về IEC Language</a></li>
                        <li class="parent fz16 fw6">
                            <img src="./assets/image/svg/Star 1.svg" alt=""><a href="">Chương trình học</a><i class='bx bxs-chevron-down'></i>
                            <ul class="child">
                                <li><a href="">Tiếng Đức</a></li>
                                <li><a href="">Tiếng Anh</a></li>
                                <li><a href="">Tiếng Pháp</a></li>
                            </ul>
                        </li>
                        <li class="parent fz16 fw6"><a href="">Dịch vụ khác</a></li>
                        <li class="parent fz16 fw6"><a href="">Câu hỏi thường gặp</a></li>
                        <li class="parent fz16 fw6">
                            <a href="">Tin tức & thư viện</a><i class='bx bxs-chevron-down'></i>
                            <ul class="child">
                                <li><a href="">Tiếng Đức</a></li>
                                <li><a href="">Tiếng Anh</a></li>
                                <li><a href="">Tiếng Pháp</a></li>
                            </ul>
                        </li>
                        <li class="parent fz16 fw6"><a href="">Tuyển dụng</a></li>
                    </ul>
                </nav>
                <a href="" class="btn btn-login"><i class='bx bx-user'></i><span class="fz16 fw6">Đăng nhập</span></a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="banner">
            <div class="banner-over">
                <div class="banner-shape"></div>
                <div class="banner-shape"></div>
                <div class="banner-shape"></div>
            </div>
            <div class="bg">
                <img src="./assets/image/banner/french.jfif" alt="">
            </div>
            <div class="banner-wrap">
                <h1>Tin tức & sự kiện</h1>
            </div>
        </div>
        <div class="tab2">
            <input type="radio" name="tab2" checked id="sideone">
            <input type="radio" name="tab2" id="sidetwo">
            <div class="tab2-wrap">
                <div class="runtab">
                    <div class="sqr"></div>
                </div>
                <label for="sideone"><a href="">Tin tức hoạt động</a></label>
                <label for="sidetwo"><a href="">Thư viện</a></label>
            </div>
            <div class="tab2-content">
                <div class="container">
                    <div class="tab2-content-wrap sideone">
                        <div class="listCard">
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                        </div>
                        <div class="pagination">
                            <div class="pagination-wrap">
                                <a href="" class="pagination-btn active">01</a>
                                <a href="" class="pagination-btn">02</a>
                                <a href="" class="pagination-btn">03</a>
                                <a href="" class="pagination-btn">04</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab2-content-wrap sidetwo">
                        <div class="listCard">
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                            <a href="" class="listCard-item">
                                <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                <p class="para">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                </p>
                                <p class="xct">Xem chi tiết</p>
                            </a>
                        </div>
                        <div class="pagination">
                            <div class="pagination-wrap">
                                <a href="" class="pagination-btn active">01</a>
                                <a href="" class="pagination-btn">02</a>
                                <a href="" class="pagination-btn">03</a>
                                <a href="" class="pagination-btn">04</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="bg-over"></div>
            <img src="./assets/image/banner/forenger.jfif" alt="" class="bg">

            <div class="container">
                <div class="contact-wrap">
                    <div class="contact-left">
                        <h2 class="contact-title">
                            <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                            <div class="title-text">
                                Khai giảng lớp học mới
                            </div>
                            <span></span>
                        </h2>
                        <p>
                            IEC mang lại khoá học chất lượng cao dành cho học viên không chỉ tại Việt Nam mà còn đang sinh sống và làm việc tại nước ngoài
                        </p>
                        <a href="" class="btn btn-login">Tìm hiểu thêm<img src="./assets/image/svg/arrow.svg"
                                alt=""></a>
                    </div>
                </div>
            </div>
            <div class="contact-date">
                <div class="contact-date-item">
                    <div class="number">02</div>
                    <div class="text">Ngày</div>
                </div>
                <div class="contact-date-item">
                    <div class="number">01</div>
                    <div class="text">Giờ</div>
                </div>
                <div class="contact-date-item">
                    <div class="number">05</div>
                    <div class="text">Phút</div>
                </div>
                <div class="contact-date-item">
                    <div class="number">59</div>
                    <div class="text">Giây</div>
                </div>
            </div>
            <div class="contact-form">
                <div class="contact-form-info">
                    <h2 class="form-title">
                        <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                        <div class="title-text">
                            Đăng ký nhận tư vấn miễn phí
                        </div>
                        <span></span>
                    </h2>
                    <p>
                        Hãy nhập các thông tin của bạn ở phần form bên dưới và gửi lại cho chúng tôi nhé. Chúng tôi sẽ gửi cho bạn những thông tin mới nhất
                    </p>
                    <form action="">
                        <div class="form-wrap">
                            <div class="inputBox">
                                <input type="text" required="required">
                                <span>Họ và tên</span>
                            </div>
                            <div class="inputBox">
                                <input type="number" required="required">
                                <span>Số điện thoại</span>
                            </div>
                            <div class="inputBox inputBoxjss">
                                <input type="email" required="required">
                                <span>Email</span>
                            </div>
                            <div class="inputBox inputBoxjs">
                                <textarea name="" id="" cols="30" rows="10" required="required"></textarea>
                                <span>Nội dung</span>
                            </div>
                            <button href="" class="btn btn-login">Đăng ký ngay<img src="./assets/image/svg/arrow.svg"
                                    alt=""></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-sqr">
                    <img src="./assets/image/svg/linefooter.png" alt="" class="line">
                    <img src="./assets/image/logo/logosmallfooter.svg" alt="">
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-item footer-menu-item-first">
                        <ul>
                            <li class="head">Liên hệ</li>
                            <li>
                                <p>Trụ sở chính:</p>
                                <h3>
                                    Tầng 29A, Hồ Gươm Plaza, P.Mộ Lao, Q.Hà Đông, Tp.Hà Nội
                                </h3>
                            </li>
                            <li>
                                <p>Chi nhành miền nam:</p>
                                <h3>
                                    Số 227 Hà Huy Giáp, P.Thạnh Lộc, Quận 12, Tp.Hồ Chí Minh
                                </h3>
                            </li>
                            <li><a href=""><span>Hotline:</span>024 6662 8671</a></li>
                            <li><a href=""><span>Email tuyển sinh:</span>tuyensinh@ieclanguage.edu.vn</a></li>
                            <li><a href=""><span>Email tuyển dụng:</span>hr@ieclanguage.edu.vn</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-second">
                        <ul>
                            <li class="head">Chương trình học</li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Anh</a></li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Pháp</a></li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Đức</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-third">
                        <ul>
                            <li class="head"> Kết nối với chúng tôi</li>
                            <div class="footer-socials">
                                <a href=""><i class='bx bxl-facebook'></i></a>
                                <a href=""><i class='bx bxl-youtube'></i></a>
                                <a href=""><i class='bx bxl-twitter'></i></a>
                                <a href=""><i class='bx bxl-instagram'></i></a>
                            </div>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-four">
                        <div class="footer-pluginfb">
                            <img src="./assets/image/fb.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-cre">
            <h3>Designed and developed by Mona Media</h3>
        </div>
    </footer>
    <script src="./js/libs/jquery/jquery.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>