<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Dịch vụ khác</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <div class="rectangle"></div>
                <div class="rectangle2"></div>
                <a href="" class="header-icon">
                    <div class="icon">
                        <img src="./assets/image/logo/logosmall.png" alt="">
                    </div>
                </a>
                <nav class="header-nav">
                    <ul id="menu">
                        <li class="parent fz16 fw6"><a href="">Về IEC Language</a></li>
                        <li class="parent fz16 fw6">
                            <img src="./assets/image/svg/Star 1.svg" alt=""><a href="">Chương trình học</a><i
                                class='bx bxs-chevron-down'></i>
                            <ul class="child">
                                <li><a href="">Tiếng Đức</a></li>
                                <li><a href="">Tiếng Anh</a></li>
                                <li><a href="">Tiếng Pháp</a></li>
                            </ul>
                        </li>
                        <li class="parent fz16 fw6"><a href="">Dịch vụ khác</a></li>
                        <li class="parent fz16 fw6"><a href="">Câu hỏi thường gặp</a></li>
                        <li class="parent fz16 fw6">
                            <a href="">Tin tức & thư viện</a><i class='bx bxs-chevron-down'></i>
                            <ul class="child">
                                <li><a href="">Tiếng Đức</a></li>
                                <li><a href="">Tiếng Anh</a></li>
                                <li><a href="">Tiếng Pháp</a></li>
                            </ul>
                        </li>
                        <li class="parent fz16 fw6"><a href="">Tuyển dụng</a></li>
                    </ul>
                </nav>
                <a href="" class="btn btn-login"><i class='bx bx-user'></i><span class="fz16 fw6">Đăng nhập</span></a>
                <div class="burger burger-js">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </div>
                <div class="menu-mobile mobilemenu-js">
                    <div class="menu-mobile-wrap">
                        <div class="wrap">
                            <main>
                                <section id="vert-nav">
                                    <nav role='navigation'>
                                        <ul class="topmenu">
                                            <li><a class="sidebarhead" href="#0">Home</a></li>
                                            <li><a class="sidebarhead" href="#0">Về IEC Language</a></li>
                                            <li><a class="sidebarhead" href="#0">Chương trình học</a></a>
                                                <ul class="submenu">
                                                    <li><a href="#0">Tiếng Đức</a></li>
                                                    <li><a href="#0">Tiếng Anh</a></li>
                                                    <li><a href="#0">Tiếng Pháp</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="sidebarhead" href="#0">Dịch vụ khác</a></li>
                                            <li><a class="sidebarhead" href="#0">Câu hỏi thường gặp</a></li>
                                            <li><a class="sidebarhead" href="#0">Tin tức và thư viện</a>
                                                <ul class="submenu">
                                                    <li><a href="#0">Tiếng Đức</a>
                                                        <ul class="submenu">
                                                            <li><a href="#0">Tiếng Đức</a></li>
                                                            <li><a href="#0">Tiếng Anh</a></li>
                                                            <li><a href="#0">Tiếng Pháp</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#0">Tiếng Anh</a></li>
                                                    <li><a href="#0">Tiếng Pháp</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="sidebarhead" href="#0">Tuyển dụng</a></li>
                                        </ul>
                                    </nav>
                                </section>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="menu-mobile-over mobilemenuover-js"></div>
    <div class="main">
        <div class="banner">
            <div class="banner-over">
                <div class="banner-shape"></div>
                <div class="banner-shape"></div>
                <div class="banner-shape"></div>
            </div>
            <div class="bg">
                <img src="./assets/image/banner/french.jfif" alt="">
            </div>
            <div class="banner-wrap">
                <h1>Dịch vụ khác</h1>
            </div>
        </div>
        <div class="tab">
            <input type="radio" name="tab" checked id="german">
            <input type="radio" name="tab" id="english">
            <input type="radio" name="tab" id="french">
            <div class="tab-wrap">
                <div class="runtab">
                    <div class="sqr wh"></div>
                </div>
                <label for="german"><a href="">Du học Đức</a></label>
                <label for="english"><a href="">Lớp học tiếng Tây Ban Nha</a></label>
                <label for="french"><a href="">Lớp học tiếng Ý</a></label>
            </div>
            <div class="tab-content wh">
                <div class="tab-content-wrap german">
                    <div class="container">
                        
                        <h2 class="t-title decor line m-nor">
                            <span class="c-black">Lộ trình học để đi du học đức</span>
                        </h2>
                        <div class="tab-content-box">
                            <p class="sub-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim adipiscing nunc, vulputate tellus sapien curabitur.
                            </p>
                            <div class="content services">
                                <p>
                                    Quis tellus viverra viverra porttitor. Et aliquet at pellentesque elit ac. In suscipit id tortor pharetra, massa netus porta. Eget dignissim urna, leo, gravida. Egestas consequat turpis id pretium. Congue diam pharetra sollicitudin mattis. Id a, velit
                                    purus in praesent.
                                </p>

                                <p>
                                    Sed sed nunc in proin sagittis ornare. Est mauris erat integer ullamcorper quam platea nisi leo. Augue ac at aliquet accumsan, in augue praesent vitae sed. Nunc viverra a ultricies at congue tincidunt molestie diam risus. Platea gravida montes, ac at.
                                    At aliquam sem pellentesque dictum. Est quis tortor, at ultrices feugiat sapien, odio ut dictum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="services-imgonly">
                        <img src="./assets/image/banner/services.jfif" alt="">
                    </div>
                    <div class="services-requires">
                        <div class="container">
                            <div class="services-requires-wrap">
                                <h2 class="tab-content-title">
                                    <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                                    <div class="title-text">
                                        Yêu cầu đầu vào đối với các hình thức sang Đức
                                    </div>
                                </h2>
                                <div class="services-requires-box">
                                    <a href="" class="btn btn-green">Du học hệ đại học</a>
                                    <a href="" class="btn btn-yellow">Du học nghề</a>
                                    <a href="" class="btn btn-red">Đi theo dạng người thân (đoàn tụ)</a>
                                </div>
                                <div class="services-requires-info">
                                    <div class="info-left mona-content">
                                        <h3 class="info-title">Đối với hệ dự bị đại học</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, enim in venenatis eu tristique scelerisque quam. Sit cras nunc aliquet malesuada aenean integer enim, massa. Maecenas blandit urna eget auctor. Ut ut nec lobortis ac cursus nulla feugiat ut
                                            in. Sed augue gravida et accumsan augue.
                                        </p>
                                        <h3 class="info-title">Đối với hệ đại học</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, enim in venenatis eu tristique scelerisque quam. Sit cras nunc aliquet malesuada aenean integer enim, massa. Maecenas blandit urna eget auctor. Ut ut nec lobortis ac cursus nulla feugiat ut
                                            in. Sed augue gravida et accumsan augue.
                                        </p>
                                        <h3 class="info-title">Đối với du học Đức chương trình Thạc sĩ</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, enim in venenatis eu tristique scelerisque quam. Sit cras nunc aliquet malesuada aenean integer enim, massa. Maecenas blandit urna eget auctor. Ut ut nec lobortis ac cursus nulla feugiat ut
                                            in. Sed augue gravida et accumsan augue.
                                        </p>
                                    </div>
                                    <div class="info-right">
                                        <div class="imgs">
                                            <img src="./assets/image/banner/services2.jfif" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services-route">
                        <div class="container">
                            <div class="services-route-wrap">
                                <h2 class="tab-content-title">
                                    <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                                    <div class="title-text">
                                        Lộ trình các khoá học tiếng Đức
                                    </div>
                                </h2>
                                <div class="services-route-box">
                                    <div class="route-left">
                                        <a href="" class="btn btn-green">
                                            <h3>Giao tiếp 1 - 1</h3>
                                        </a>
                                        <a href="" class="route-left-item">
                                            <h3>Ôn thi DTZ</h3>
                                        </a>
                                        <a href="" class="route-left-item">
                                            <h3>Ôn thi TELC</h3>
                                        </a>
                                        <a href="" class="route-left-item">
                                            <h3>Ôn thi GOETHE</h3>
                                        </a>
                                    </div>
                                    <div class="route-right">
                                        <div class="route-right-item">
                                            A1
                                            <div class="route-right-item-txt">
                                                <span>Tiếng Đức A1</span>
                                                <p>36 buổi</p>
                                                <p>34 buổi học + 2 buổi kiểm tra</p>
                                            </div>
                                            <div class="route-right-item-tooltip">
                                                <div class="tooltip-ins">
                                                    <div class="txt">Thời gian:
                                                        <p>90 phút / buổi học</p>
                                                    </div>
                                                    <div class="txt">Kết quả đạt được</div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in.
                                                    </p>
                                                    <div class="arrow"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="route-right-item">
                                            A2
                                            <div class="route-right-item-txt">
                                                <span>Tiếng Đức A2</span>
                                                <p>36 buổi</p>
                                                <p>34 buổi học + 2 buổi kiểm tra</p>
                                            </div>
                                            <div class="route-right-item-tooltip">
                                                <div class="tooltip-ins">
                                                    <div class="txt">Thời gian:
                                                        <p>90 phút / buổi học</p>
                                                    </div>
                                                    <div class="txt">Kết quả đạt được</div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in.
                                                    </p>
                                                    <div class="arrow"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="route-right-item">
                                            B1
                                            <div class="route-right-item-txt">
                                                <span>Tiếng Đức B1</span>
                                                <p>36 buổi</p>
                                                <p>34 buổi học + 2 buổi kiểm tra</p>
                                            </div>
                                            <div class="route-right-item-tooltip">
                                                <div class="tooltip-ins">
                                                    <div class="txt">Thời gian:
                                                        <p>90 phút / buổi học</p>
                                                    </div>
                                                    <div class="txt">Kết quả đạt được</div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in.
                                                    </p>
                                                    <div class="arrow"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="route-right-item">
                                            B2
                                            <div class="route-right-item-txt">
                                                <span>Tiếng Đức B2</span>
                                                <p>36 buổi</p>
                                                <p>34 buổi học + 2 buổi kiểm tra</p>
                                            </div>
                                            <div class="route-right-item-tooltip">
                                                <div class="tooltip-ins">
                                                    <div class="txt">Thời gian:
                                                        <p>90 phút / buổi học</p>
                                                    </div>
                                                    <div class="txt">Kết quả đạt được</div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in.
                                                    </p>
                                                    <div class="arrow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="services-fee">
                        <div class="container">
                            <div class="services-fee-wrap">
                                <h2 class="tab-content-title">
                                    <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                                    <div class="title-text">
                                        Học phí du học Đức
                                    </div>
                                </h2>
                                <h3 class="services-fee-title">
                                    Lương từ <span>800 - 1200 euro/tháng</span> cho năm đầu, ra trường lương từ
                                    <span>2000 - 2500 euro</span> trước thuế
                                </h3>
                                <div class="services-fee-table">
                                    <table>
                                        <tr>
                                            <th>TT</th>
                                            <th>Nội dung</th>
                                            <th>Số tiền</th>
                                            <th>Chi tiết</th>
                                            <th>Thời gian</th>
                                        </tr>
                                        <tr>
                                            <td>01</td>
                                            <td>Chi phí đặt cọc</td>
                                            <td>đ 30,000,000</td>
                                            <td rowspan="2"> Chi phí làm thủ tục từ Việt Nam đi Đức</td>
                                            <td rowspan="2">Ký hợp đồng du học</td>
                                        </tr>
                                        <tr>
                                            <td>02</td>
                                            <td>Chi phí hồ sơ ban đầu</td>
                                            <td>đ 20,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>03</td>
                                            <td>Lấy visa</td>
                                            <td>đ 50,000,000</td>
                                            <td></td>
                                            <td>Khi có visa</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="orange">Tổng</td>
                                            <td class="orange">đ 100,000,000</td>
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td class="greenbg" colspan="5">Các chi phí khác</td>
                                        </tr>
                                        <tr>
                                            <td>04</td>
                                            <td>Chi phí nộp visa tại đại sứ quán Đức</td>
                                            <td>đ 3,000,000</td>
                                            <td>Lên đại sứ quán nộp</td>
                                            <td>Khi hoàn tất hồ sơ</td>
                                        </tr>
                                        <tr>
                                            <td>05</td>
                                            <td>Vé máy bay chiều đi</td>
                                            <td>đ 15,000,000</td>
                                            <td>Học viên có thể tự mua hoặc IEC thu</td>
                                            <td>Khi bay</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="orange">Tổng</td>
                                            <td colspan="3" class="orange">đ 100,000,000</td>
                                        </tr>
                                        <tr>
                                            <td class="greenbg" colspan="5">Các hỗ trợ khác</td>
                                        </tr>
                                        <tr>
                                            <td>06</td>
                                            <td>Tìm nhà ở bên Đức</td>
                                            <td class="alone" rowspan="4" colspan="3">Free</td>
                                        </tr>
                                        <tr>
                                            <td>07</td>
                                            <td>Dẫn đi làm quen trường</td>
                                        </tr>
                                        <tr>
                                            <td>08</td>
                                            <td>Hỗ trợ tìm công việc phù hợp</td>
                                        </tr>
                                        <tr>
                                            <td>09</td>
                                            <td>Hướng dẫn viên du lịch</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newSlider">
                        <div class="container">
                            <div class="newsSlider-wrap">
                                <div class="newsSlider-title">
                                    <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                                    <div class="title-text">
                                        Thông tin về du học Đức mới nhất
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper newsSlider-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="" class="newsSlider-item">
                                        <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                        <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                        <p class="para">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                        </p>
                                        <p class="xct">Xem chi tiết</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="newsSlider-item">
                                        <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                        <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                        <p class="para">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                        </p>
                                        <p class="xct">Xem chi tiết</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="newsSlider-item">
                                        <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                        <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                        <p class="para">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                        </p>
                                        <p class="xct">Xem chi tiết</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="newsSlider-item">
                                        <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                        <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                        <p class="para">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                        </p>
                                        <p class="xct">Xem chi tiết</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="newsSlider-item">
                                        <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                        <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                        <p class="para">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                        </p>
                                        <p class="xct">Xem chi tiết</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="newsSlider-item">
                                        <img src="./assets/image/banner/itemSlider.png" alt="" class="img">
                                        <h3 class="title">Thêm các điểm đến hấp dẫn cho du học sinh Australia</h3>
                                        <p class="para">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing tortor, sit lectus cursus nulla consequat in. Donec in nulla in tellus congue maecenas tempor, tellus.
                                        </p>
                                        <p class="xct">Xem chi tiết</p>
                                    </a>
                                </div>
                            </div>

                            <div class="newsSlider-scroll">
                                <div class="container">
                                    <div class="scroll-wrap">
                                        <div class="scroll-note">
                                            <div class="scroll-note-mouse">
                                                <img src="./assets/image/svg/mouseoutgr.svg" alt="">
                                                <img src="./assets/image/svg/mouseinsgr.svg" alt="">
                                            </div>
                                            <div class="scroll-note-box">
                                                <img src="./assets/image/svg/arrowgr.svg" alt="">
                                                <span>Kéo sang để xem</span>
                                                <img src="./assets/image/svg/arrowgr2.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content-wrap english">

                </div>
                <div class="tab-content-wrap french">

                </div>
            </div>
        </div>

        <div class="contact">
            <div class="bg-over"></div>
            <img src="./assets/image/banner/forenger.jfif" alt="" class="bg">

            <div class="container">
                <div class="contact-wrap">
                    <div class="contact-left">
                        <h2 class="contact-title">
                            <div class="title-sqr"><img src="./assets/image/svg/sqr.png" alt=""></div>
                            <div class="title-text">
                                Khai giảng lớp học mới
                            </div>
                            <span></span>
                        </h2>
                        <p>
                            IEC mang lại khoá học chất lượng cao dành cho học viên không chỉ tại Việt Nam mà còn đang sinh sống và làm việc tại nước ngoài
                        </p>
                        <form action="">
                            <div class="form-wrap">
                                <div class="inputBox">
                                    <input type="text" required="required">
                                    <span>Họ và tên</span>
                                </div>
                                <div class="inputBox">
                                    <input type="number" required="required">
                                    <span>Số điện thoại</span>
                                </div>
                                <div class="inputBox inputBoxjss">
                                    <input type="email" required="required">
                                    <span>Email</span>
                                </div>
                                <div class="inputBox inputBoxjs">
                                    <textarea name="" id="" cols="30" rows="10" required="required"></textarea>
                                    <span>Nội dung</span>
                                </div>
                                <button href="" class="btn btn-login">Đăng ký ngay<img
                                        src="./assets/image/svg/arrow.svg" alt=""></button>
                            </div>
                        </form>
                    </div>
                    <div class="contact-date">
                        <div class="contact-date-item">
                            <div class="number"  id="days"></div>
                            <div class="text">Ngày</div>
                        </div>
                        <div class="contact-date-item">
                            <div class="number " id="hours"></div>
                            <div class="text">Giờ</div>
                        </div>
                        <div class="contact-date-item">
                            <div class="number " id="mins"></div>
                            <div class="text">Phút</div>
                        </div>
                        <div class="contact-date-item">
                            <div class="number " id="seconds"></div>
                            <div class="text">Giây</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-sqr">
                    <img src="./assets/image/svg/linefooter.png" alt="" class="line">
                    <img src="./assets/image/logo/logosmallfooter.svg" alt="">
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-item footer-menu-item-first">
                        <ul>
                            <li class="head">Liên hệ</li>
                            <li>
                                <p>Trụ sở chính:</p>
                                <h3>
                                    Tầng 29A, Hồ Gươm Plaza, P.Mộ Lao, Q.Hà Đông, Tp.Hà Nội
                                </h3>
                            </li>
                            <li>
                                <p>Chi nhành miền nam:</p>
                                <h3>
                                    Số 227 Hà Huy Giáp, P.Thạnh Lộc, Quận 12, Tp.Hồ Chí Minh
                                </h3>
                            </li>
                            <li><a href=""><span>Hotline:</span>024 6662 8671</a></li>
                            <li><a href=""><span>Email tuyển sinh:</span>tuyensinh@ieclanguage.edu.vn</a></li>
                            <li><a href=""><span>Email tuyển dụng:</span>hr@ieclanguage.edu.vn</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-second">
                        <ul>
                            <li class="head">Chương trình học</li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Anh</a></li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Pháp</a></li>
                            <li class="language"><i class='bx bx-chevron-right'></i><a href="">Tiếng Đức</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-third">
                        <ul>
                            <li class="head"> Kết nối với chúng tôi</li>
                            <div class="footer-socials">
                                <a href=""><i class='bx bxl-facebook'></i></a>
                                <a href=""><i class='bx bxl-youtube'></i></a>
                                <a href=""><i class='bx bxl-twitter'></i></a>
                                <a href=""><i class='bx bxl-instagram'></i></a>
                            </div>
                        </ul>
                    </div>
                    <div class="footer-menu-item footer-menu-item-four">
                        <div class="footer-pluginfb">
                            <img src="./assets/image/fb.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-cre">
            <h3>Designed and developed by Mona Media</h3>
        </div>
    </footer>
    <script src="./js/libs/jquery/jquery.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>