.about {
    .banner {
        height: calc(100vw*(800/1920));

        @include max(500px) {
            height: calc(100vw*(1000/1920));
        }

        &-img {
            height: calc(100vw*(800/1920));
            width: 55%;
            position: absolute;
            right: -50px;
            top: 0;
            z-index: 52;

            @include max(800px) {
                display: none;
            }

            @include max(500px) {
                height: calc(100vw*(1000/1920));
                width: 65%;
            }

            @include flex-col(flex-start, flex-start);

            &-line {
                height: calc(33.3%);
                width: 100%;
                @include flex(flex-start, flex-start);

                &:nth-child(2) {
                    margin-left: 12%;
                }
            }

            &-item {
                padding: 5px;
                height: 100%;
                width: 25%;
                filter: grayscale(1);
                transition: 0.3s;
                &:hover {
                    filter: grayscale(0);
                }
                img {
                    @include img100x;
                }
            }
        }

        .bg {
            background-color: $color-white;
        }

        &-wrap {
            @include flex(center, flex-start);
            z-index: 50;
            height: 100%;
        }

        &-slogan {
            height: 100%;
            @include flex-col(flex-start, center);
            h1 {
                margin-bottom: 20px;
                font-size: 56px;
                font-weight: 600;

                &:nth-child(1) {
                    color: $color-black;
                }

                &:nth-child(2) {
                    color: $color-green;

                    @include max(1500px) {
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: $color-white;
                        font-weight: 800;
                    }

                    @include max(375px) {
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: $color-black-opa2;
                    }

                }

                @include max(1200px) {
                    font-size: 45px;
                    margin-bottom: 0px;
                }

                @include max(800px) {
                    font-size: 30px;
                    margin-bottom: 0px;
                }

                @include max(375px) {
                    font-size: 20px;
                    margin-bottom: 0px;
                }
            }

            h4 {
                font-size: 24px;
                font-weight: 700;
                color: $color-black;
                max-width: 486px;

                @include max(1200px) {
                    font-size: 16px;
                }

                @include max(426px) {
                    font-size: 13px;
                }
            }
        }

        &-over {
            .banner-shape {
                &:nth-child(1) {
                    opacity: 1;
                }

                &:nth-child(2) {
                    z-index: 2;
                }

                &:nth-child(3) {
                    background-color: $color-green;
                    opacity: 0.2;
                }
            }
        }
    }

    &-adv {
        background-color: $color-green-light;

        &-wrap {
            padding: 100px 0;
            @include flex(flex-start, flex-start);
            flex-wrap: wrap;
        }

        &-title {
            @include flex(center, flex-start);
            margin-bottom: 20px;

            .title-sqr {
                position: relative;
                @include sqr(77px);
                border-radius: 6px;

                @include flex(center, center);
                margin-left: -38px;
                margin-top: -60px;

                img {
                    width: 77px;
                }

            }

            .title-text {
                font-size: 40px;
                font-weight: 600;
                color: $color-black;
                z-index: 2;
                margin-left: -40px;
                line-height: 1.5;
            }
        }

        .desc {
            font-size: 24px;
            font-weight: 600;
            color: $color-black;
            @include max(1200px) {
                font-size: 2rem;
            }
            @include max(800px) {
                font-size: 1.7rem;
            }
        }

        &-left {
            width: 50%;
            padding-right: 10%;

            @include max(1060px) {
                width: 100%;
            }
        }

        &-right {
            width: 50%;
            padding-top: 10px;
            @include flex(flex-start, flex-start);
            flex-wrap: wrap;

            @include max(1060px) {
                width: 100%;
                @include flex(flex-start, center);
            }

            &-item {
                @include flex(flex-start, flex-start);
                width: 50%;
                margin-bottom: 50px;

                @include max(1060px) {
                    @include flex(flex-start, center);
                    width: 33.3%;
                    margin-top: 30px;
                }

                @include max(950px) {
                    @include flex(flex-start, center);
                    width: 50%;
                }

                @include max(630px) {
                    @include flex(flex-start, center);
                    width: 100%;
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                .item-left {
                    @include sqr(56px);
                    margin-right: 24px;

                    img {
                        @include img100x;
                    }
                }

                .item-right {
                    &-box {
                        @include flex(center, flex-start);

                        span {
                            font-size: 40px;
                            font-weight: 400;
                            color: $color-black-opa6;
                            margin-bottom: 24px;
                            margin-right: 5px;
                        }

                        img {
                            width: 20px;
                            height: 10px;
                            margin-top: -30px;
                        }
                    }

                    h3 {
                        font-size: 16px;
                        font-weight: 800;
                        color: $color-black;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    &-aim {
        background-color: $color-white;

        &-wrap {
            padding: 70px 0;
            @include flex(stretch, flex-start);
            flex-wrap: wrap;
        }

        &-item {
            width: 50%;
            margin-bottom: 24px;
            @include flex(stretch, flex-start);

            @include max(850px) {
                width: 100%;
                margin-bottom: 10px;
            }

            .item-left {
                width: 100px;
                min-height: 150px;
                padding-right: 25px;
                @include flex(center, center);
                @include max(426px) {
                    display: none;

                }
                img {
                    @include sqr(72px);

                    @include max(426px) {
                        display: none;
                    }
                }
            }

            .item-right {
                border-left: 1px solid $color-green;
                padding: 10px 30px;
                @include max(426px) {
                    border: none;
                    padding: 15px 0;
                }
                h1 {
                    font-size: 40px;
                    font-weight: 600;
                    color: $color-black;
                    margin-bottom: 16px;
                    @include max(800px) {
                        font-size: 2rem;
                        margin-bottom: 0;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: $color-black;
                    line-height: 1.2;
                }
            }
        }
    }
}