.btn {
    position: relative;
    padding: 10px 15px;
    outline: none;
    border-radius: 100px;
    @include flex(center,center);
    color: $color-white;
    transition: 0.3s;
    cursor: pointer;
    &-login {
        background:linear-gradient(to right, $color-green, $color-green-dark);
        min-width: 147px;
        i {
            margin-right: 10px;
            font-size: 20px;
        }
        span {
            color: $color-white;
            margin-top: -3px;
        }
        &:hover::after {
            width: calc(100% + 2px);
            opacity: 1;
        }
        &::after {
            content: "";
            height: calc(100% + 2px);
            width: 0%;
            position: absolute;
            left: -3px;
            z-index: -1;
            border-radius: 100px;
            border: 2px solid $color-green;
            opacity: 0;
            transition: 0.3s;
        }
        
    }
    &-language {
        background-color: $color-green;
        border-radius: 100px;
        color: $color-white;
    }
    &-green {
        height: 64px;
        border-radius: 12px;
        font-size: 24px;
        font-weight: 600;
        margin-right: 8px;
        background-color: $color-green;
        
    }
    &-yellow {
        height: 64px;
        border-radius: 12px;
        font-size: 24px;
        font-weight: 600;
        margin-right: 8px;
        background-color: $color-yellow;
    }
    &-red {
        height: 64px;
        border-radius: 12px;
        font-size: 24px;
        font-weight: 600;
        background-color: $color-orange;
    }
}