@import url("../assets/font/Lato/OTF/stylesheet.css");
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "SVN-Biennale", sans-serif;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
    color: #000000;
}

a {
    text-decoration: none;
}

button,
select {
    border: none;
    outline: none;
}

.main {
    min-height: 68vh;
    &.pd {
        padding-top: 112px;
        padding-bottom: 80px;
    }
}

.container {
    // position: relative;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

label {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently*/
    cursor: pointer;
}